$orange: #D54113;
$maroon: #800000;
$sienna: #A0522D;
$tomato: #FF6347;
$scarlet: #FF2400;
$aliz: #E32636;

html {
    height: 100%;
}
section {
    height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 auto;
}
footer {
    flex: 0 auto;
}

@keyframes planet-rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(8deg);
    }
}

@keyframes loading {
    0% {
       width: 0.375rem;
    }
    100% {
       width: 13.775rem;
    }
}

@keyframes dott-loading {
    0% {
        left: 0;
    }
    100% {
        left: 13.375rem;
    }
}
@mixin font-description {
    font-family: 'Anonymous Pro';
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

@mixin font-numbers {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

@mixin links {
    text-decoration: none;
    color: white;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
    padding: 0;
    margin: 0;
    color: #fff;
 /*   background-image: url(images/planet.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position-x: right;
    background-position-y: bottom;*/
}

#planet-right {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    block-size: 80%;
    animation: planet-rot 10s;
}

#planet-mobile {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
}

#black-planet {
    display: block;
    position: absolute;
    left: 0;
    bottom:0;
    z-index:-1;
}
.scale__left-container {
    display: flex;
    align-items: center;

}

.scale__container {
    display: block;
    position: absolute;
    right: 12.18rem;
    top: 2rem;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    .numbers {
        @include font-numbers;
        margin: 0 28px 0 2px;
        cursor: pointer;
        transition: 0.6s;
    }
}
.scale__left-flex {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-right: 15px;
}
.invisible {
    opacity: 0;
}
.horizontale {
    background: white;
    width: 14px;
    height: 2px;
    margin: 11px 0;
}
.vertical {
    background: white;
    height: 14px;
    width: 2px;
    margin: 0 11px;
}

// ** ШКАЛЫ РАЗНЫМИ ЦВЕТАМИ ** //
.scale {
    display: none;
}
.scale-top {
    display: block;
}
.scale__lines {
    display: flex;
    margin-bottom: 19px;
    font-size: 14px;
}

.scale__line {
    margin-right: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.6s;
    display: none;
}
.scale__line:hover {
    /*text-shadow: 3px 3px 2px #ad9696;*/
    text-shadow: 1px 1px 2px black, 0 0 1em white; 
}

.numbers:hover {
  /*  text-shadow: 3px 3px 3px 5px #ad9696;*/
    text-shadow: 1px 1px 2px black, 0 0 1em white;
}
.orange:hover {
    color: $orange;
    transition: 0.61s ease-in-out;
}
.sienna:hover {
    color: $sienna;
}
.maroon:hover {
    color: $maroon;
    transition: 1s;
}
.tomato:hover {
    color: $orange;
}
.dark:hover {
    color: $aliz;
}
.scarlet:hover {
    color: $scarlet;
}

.scale-left {
    display: block;
    margin-top: 0.4*100vh;
    margin-left: 2.65rem;
}

.numbers {
    @include font-numbers;
    margin-right: 30px;
    cursor: pointer;
    transition: 0.6s;
}
.modal {
    position: absolute;
    top: 0;
    box-sizing: border-box;
    left: 12%;
    height: 100vh;
    width: 35%;
    border-style: solid;
    border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 72.4%);
    background: linear-gradient(160deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 72.4%);
    background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 101.7%);
    padding: 20vh 3rem 3.25rem 3rem;
    backdrop-filter: blur(10px);
    border-bottom: none;
}
#line {
    display: inline-block;
    background: white;
    width: 2.125rem;
    height: 0.125rem;
    margin-bottom: 5px;
}

.main-title {
    font-family: 'BIZ UDPGothic';
    letter-spacing: 0em;
    text-align: left;
    font-size: 2.5em;
    font-weight: 400;
    line-height: 70px;
    margin: 1.9rem 0 1.5rem 0;
}
span {
    color: $orange;
}
.main-description {
    @include font-description;
    margin-top: 24px;
}
.main-text {
    @include font-description;
    font-size: 1rem;
    margin: 0 0 1.25rem 0;
}

.flex-box {
    display: flex;
    .send-mail {
        width: 100%;
        height: 2rem;
        background: white;
        border-radius: 6px;
        padding: 0.6rem 0.5rem;
        outline: none;
        border: none;
        color: #B0B0B0;
        @include font-numbers;
        font-size: 0.75rem;
        box-sizing: border-box;
    }
}

#send-mail__button {
    position: absolute;
    right: 3rem;
    width: 9.44rem;
    height: 1.875rem;
    background: $orange;
    font-family: Noto Sans;
    color: white;
    font-size: 0.75rem;
    border-radius: 6px;
    padding: 0.2rem;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-align: center;
    margin: 1px;
}
#send-mail__button:hover {
    cursor: pointer;
}

.contacts {
    font-family: Noto Sans;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: auto;
    display: flex;
}
.contacts__flex {
    display: flex;
    justify-content: space-between;
}
.contacts__ceo {
    margin-left: 4rem;
}
.contacts__icon {
    margin-right: 0.5rem;
    width: 25px;
}
.contacts__title {
    margin: 5px 0;
}

.line-box {
    background: #282727;
    width: 100%;
   /* width: 29.613rem;*/
    height: 0.375rem;
    margin-top: 1.75rem;
    margin-bottom: 3.625rem;
    border-radius: 22px;
    border: none;
    box-sizing: border-box;
}

.loading {
    background: #D54113;
    width: 13.775rem;
    height: 0.375rem;
    border-radius: 22px;
    border: none;
    animation: loading 3s;
}

.dott {
    position: relative;
    left: 13.375rem;
    background: #D54113;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 22px;
    box-shadow: 0px 0px 7px 6px #D54113;
    animation: dott-loading 3s;
}

//Для допотопных ноутбуков вроде моего и Карининого 
@media screen and (max-width: 1200px) {
    .modal {
        width: 34rem;
        height: 100vh;
        left: 7rem;
        padding: 3rem;
        padding-top: 20vh;
    }
    .contacts {
        margin-top:2rem;
    }
    #planet-right {
        right: 0;
    }
    #black-planet {
        width: 500px;
        bottom: 0;
    }
    .line-box {
        margin: 2rem 0;
        width: 27.6rem;
    }
    body {
        overflow: hidden;
        width: 100%;
    }
}

@media screen and (max-width: 820px) {
    .modal {
        padding-top: 20vh;
        width: 34rem;
        left: 3rem;
        padding-bottom: 8vh;
    }
    body {
        overflow: hidden;
        width: 100%;
    }
    .main-title {
        font-size: 4rem;
    }
    #black-planet {
        display: none;
    }
    #planet-right {
        block-size: 70%;
        bottom: -150px;
        right: -150px;
        offset-rotate: 22.46deg;
    }
    .scale-left,
    .scale__container {
        display: none;
    }
    .contacts {
        margin-top: auto;
    }
    .contacts__seryonse {
        order: 5;
    }
    .contacts__ceo {
        margin-left: 0rem;
        margin-right: 1.5rem;
    }
    #loading {
        margin-top: 2.81rem;
        margin-bottom: 3.125rem;
        width: 27.93rem;
        height: 6px;
    }
}
@media screen and (max-height: 800px) {
    .contacts {
        margin-top: 2rem;
    }
    .modal {
        padding-top: 20vh;
    }
    body {
        overflow: hidden;
       
    }
}

@media screen and (max-width: 375px) {
    .modal {
        width: 20.44rem;
        margin-left: 2rem;
        padding: 10vh 1.8rem 0 1.8rem;
        left: 0;
        right: 0;
    }

    body {
        overflow: hidden;
        width: 100%;
    }

    @mixin font-numbers {
        font-family: Poppins;
        font-size: 9px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
    }

    #black-planet {
        display: none;
    }

    #planet-right {
        display: block;
    }
    .scale-left,
    .scale__container {
        display: none;
    }
    #send-mail__button {
        width: 6.9375rem;
        right: 1.8rem;
        height: 1.6rem;
        margin: 1px;
        padding: 2px;
        font-size: 9px;
    }
    .flex-box {
        .send-mail {
            width: 16.8125rem;
            height: 1.75rem;
        }
    }
    .contacts__seryonse {
        order: 5;
    }
    .contacts__ceo {
        margin-left: 0rem;
        margin-right: 1.5rem;
    }
    .contacts__icon {
        width: 21.68px;
        height: 21.68px;
    }
    .contacts__title {
        margin: 12px 0;
    }
    .numbers,
    .main-text {
        @include font-numbers;
        margin-bottom: 11.6px;
    }
    #line {
        width: 1.25rem;
        height: 1px;
        margin-bottom: 3px;
    }
    .main-description {
        font-size: 0.8125rem;
        margin-top: 1.18rem;
    }
    .line-box {
        width: 16.8125rem;
        height: 3.86px;
    }
    .loading {
        width: 8.695rem;
        height: 3.86px;
    }
    .dott {
        width: 0.225rem;
        height: 0.225rem;
        left: 8.5125rem;
    }
    #planet-right {
        display: none;
    }
    #planet-mobile {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    @keyframes loading {
        0% {
            width: 0.375rem;
        }
        100% {
            width: 8.65rem;
        }
    }
    @keyframes dott-loading {
        0% {
            left: 0;
        }
        100% {
            left: 8.5125rem;
            /*left: 13.375rem;*/
        }
    }
}

@media screen and (max-width: 578px) {
    .modal {
        width: 20.44rem;
        margin-left: 2rem;
        padding: 10rem 1.8rem 10rem 1.8rem;
        left: 0;
        right: 0;
    }

    body {
        overflow: hidden;
        width: 100%;
    }

    @mixin font-numbers {
        font-family: Poppins;
        font-size: 9px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
    }

    .main-title {
        font-size: 39px;
        margin: 2px 0 0 0;
    }
    main {
        .numbers {
            margin: 0;
        };
    }

    #black-planet {
        display: none;
    }

    #planet-right {
        display: none;
    }

    #planet-mobile {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .scale-left,
    .scale__container {
        display: none;
    }

    #send-mail__button {
        width: 6.9375rem;
        right: 1.8rem;
        height: 1.6rem;
        margin: 1px;
        padding: 2px;
        font-size: 9px;
    }

    .flex-box {
        .send-mail {
            width: 16.8125rem;
            height: 1.75rem;
        }
    }
    .contacts {
        font-size: 15px; 
        margin-bottom: 9rem;
    }
    .contacts__icon {
        width: 21.68px;
        height: 21.68px;
        margin-right: 9px;
    }

    .contacts__seryonse {
        order: 5;
    }

    .contacts__ceo {
        margin-left: 0rem;
        margin-right: 1.5rem;
    }

    .numbers,
    .main-text {
        @include font-numbers;
        margin-bottom: 10.6px;
    }

    #line {
        width: 1.25rem;
        height: 1px;
        margin-bottom: 3px;
    }

    .main-description {
        font-size: 0.8125rem;
        margin-top: 2px;
    }

    .line-box {
        width: 16.8125rem;
        height: 3.86px;
    }

    .loading {
        width: 8.695rem;
        height: 3.86px;
    }

    .dott {
        width: 0.225rem;
        height: 0.225rem;
        left: 8.5125rem;
    }

    #planet-right {
        // width: 649.6px;
        // height: 649.6px;
        block-size: 70%;
        bottom: -250px;
        right: -150px;
        offset-rotate: 22.46deg;
    }

    @keyframes loading {
        0% {
            width: 0.375rem;
        }
        100% {
            width: 8.65rem;
        }
    }

    @keyframes dott-loading {
        0% {
            left: 0;
        }
        100% {
            left: 8.5125rem;
        }
    }
}